%div{'data-controller': 'modal'}
  %button.btn{type: :button, 'data-action': 'click->modal#open'} Open Modal
  %dialog{'data-modal-target': 'modal'}
    %p Modal Content
    %button.btn{type: :button, 'data-action': 'click->modal#close'} Close Modal
