%div{'data-controller': 'modal', 'data-modal-active-class': 'active'}
  %button.btn{type: :button, 'data-action': 'click->modal#open'} Open Modal
  .modal{'data-modal-target': 'modal'}
    .modal-overlay
    .modal-content
      %p Modal Content
      %button.btn{type: :button, 'data-action': 'click->modal#close'} Close Modal
