// Entry point for your Sass build
.btn {
  display: block;
  margin: auto;
  width: 10rem;
  height: 2rem;
}

:modal {
  border: 5px solid red;
  background-color: yellow;
  box-shadow: 3px 3px 10px rgba(0 0 0 / 0.5);
}
